@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;800&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inconsolata', monospace;
  background-color: rgb(52, 52, 52);
  color: #222;
  overflow-x: hidden;
  margin: 0;
}

/* CONTAINER STYLES */
.container {
  background-color: rgb(245, 214, 221);
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.container.show-nav {
  transform: rotate(-20deg);
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}
/* MENU BUTTON STYLES */
.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: rgb(245, 118, 147);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

/* NAVBAR STYLES */

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
}

nav ul li + li + li + li {
  margin-left: 45px;
}

nav ul li + li + li + li + li {
  margin-left: 60px;
  transform: translateX(-200%);
}

/* CONTENT STYLES */
.content img {
  max-width: 100%;
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  font-size: 42px;
  margin: 0;
}

.content small {
  font-size: 18px;
  color: rgb(245, 118, 147);
  font-style: italic;
  font-weight: 800;
}

.content p {
  color: #333;
  line-height: 1.5;
}
